.order {
  padding: 27px 20px 32px 20px;
  font-family: @font-first;

  input {
    color: @special-dark-gray;
    text-transform: uppercase;
  }
}

.order__text {
  margin: 0;
  font-family: @font-first;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.order__title {
  margin-bottom: 37px;
}

.order__customer-data {
  .fieldset-clear();
}

.order__program {
  .fieldset-clear();
  color: @special-dark-gray-2;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.order__contacts {
  .fieldset-clear();
}

.order__more {
  .fieldset-clear();
}

.order__contacts-title {
  font-size: 24px;
  line-height: 26px;
}

.order__comment {
  .fieldset-clear();
  textarea {
    width: 278px;
    height: 148px;
    color: @special-dark-gray;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    resize: none;
    &::placeholder {
      color: @special-dark-gray;
    }
  }
}

.order__required {
  font-family: @font-second;
}
