.additional-products {
  padding-left: 20px;
  padding-right: 20px;
}  

.additional-products__title {
  font-family: @font-first;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 36px;
}

.additional-products__list {
  .clear-list();
  caption {
    font-family: @font-first;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: @special-dark-gray-2;
    margin-bottom: 13px;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  table {
    width: 280px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: @special-dark-gray;
    margin-bottom: 15px;
  }
}

