// Цвета
@basic-white: #ffffff;
@basic-green: #68b738;
@basic-gray: #f2f2f2;
@special-gray: #cdcdcd;
@special-gray-2: #666666;
@special-dark-gray: #444444;
@special-dark-gray-2: #222222;
@basic-black: #000000;
@overlay-green: rgba(104, 183, 56, 0.85);
@example-gray: #eaeaea;
@legend-gray: #c4c4c4;
@background-live: #eaeaea;
@contacts-black: #111111;
@footer-color: #f2f2f2;
// Шрифты
@font-first: "Oswald", Arial, sans-serif;
@font-second: "Arial", sans-serif;
// Экраны устройств
@tablet-width: 768px;
@desktop-width: 1300px;
