.advantages {
  margin-bottom: 27px;
}

.advantages__list {
  .clear-list();
}

.advantages__title-wrap {
  padding-left: 72px;
  position: relative;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: @font-first;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;

  &--slim {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 53px;
      background-image: url("../img/advantages/cat_back1.svg");
      background-repeat: no-repeat;
      left: 3px;
      top: -8px;
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      width: 67px;
      height: 50px;
      background-image: url("../img/advantages/cat_back2.svg");
      background-repeat: no-repeat;
      left: -6px;
      top: -6px;
    }
  }
}

.advantages__list-item {
  background-color: @basic-gray;
  padding: 30px 21px 18px 20px;

  &:first-child {
    margin-bottom: 20px;
  }
}

.advantages__text {
  color: @special-dark-gray;
  line-height: 18px;
  margin: 0;
}

.advantages__button {
  font-family: @font-first;
  color: @basic-black;
  font-size: 16px;
  line-height: 16px;
  padding-right: 39px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 12px;
    right: 0;
    top: 6px;
    background-image: url("../img/advantages/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: -8px 0;
  }

  &:hover,
  &:focus {
    &::after {
      background-position: 0 0;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.advantages__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.advantages__text-wrap {
  padding-bottom: 21px;
  border-bottom: 1px solid @catalog-border-top;
}

.advantages__button-wrap {
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .advantages {
    margin-bottom: 55px;
  }

  .advantages__wrapper {
    width: 708px;
  }

  .advantages__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;

    &--slim {
      &::before {
        left: 470px;
        top: 82px;
        transform: scale(4);
      }
    }

    &--pro {
      &::before {
        left: 460px;
        top: 89px;
        transform: scale(4);
      }
    }
  }

  .advantages__text {
    font-size: 16px;
    line-height: 24px;
  }

  .advantages__button {
    font-size: 20px;
    padding-right: 49px;

    &::after {
      top: 9px;
    }
  }

  .advantages__list-item {
    padding: 77px 62px 59px 52px;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  .advantages__text-wrap {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 58px;
    width: 340px;
  }

  .advantages__title-wrap {
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 82px;
  }

  .advantages__wrapper {
    width: 1220px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .advantages__list-item {
    padding: 77px 51px 61px 52px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .advantages__text-wrap {
    margin-bottom: 33px;
    width: 100%;
  }

  .advantages__title {
    margin-bottom: 73px;

    &--slim {
      &::before {
        left: 25px;
        top: -10px;
        transform: scale(2);
      }
    }

    &--pro {
      &::before {
        left: 15px;
        top: -7px;
        transform: scale(2);
      }
    }
  }

  .advantages__title-wrap {
    padding-left: 162px;
  }
}
