.advantages {
  margin-bottom: 27px;

  &__list {
    .clear-list();
  }

  &__title {
    margin-top: 0;
    margin-bottom: 29px;
    font-family: "Oswald";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 37px;
  }

  &__list-item {
    background-color: @basic-gray;
    padding: 30px 33px 22px 20px;
  }

  &__list-item:first-child {
    margin-bottom: 20px;
  }

  &__text {
    color: @special-dark-gray;
    line-height: 18px;
    margin: 0;
    margin-bottom: 42px;
  }

  &__button {
    font-family: "Oswald";
    color: @basic-black;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
