.cat-energy__desktop {
  display: none;
}

.cat-energy__tablet {
  display: none;
}

.cat-energy__mobile:hover,
.cat-energy__mobile:focus,
.cat-energy__desktop:hover,
.cat-energy__desktop:focus {
  opacity: 0.8;
}

.cat-energy__mobile:active,
.cat-energy__desktop:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .cat-energy__mobile {
    display: none;
  }

  .cat-energy__tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .cat-energy__desktop {
    display: block;
  }

  .cat-energy__tablet {
    display: none;
  }
}
