.example {
  background-color: @background-live;
  padding: 27px 20px 31px 20px;
} 

.example__title {
  line-height: 40px;
  margin: 0;
  margin-bottom: 33px;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
}

.example__description-text {
  font-family: @font-first;
  font-size: 24px;
  line-height: 24px;
}

.example__description-item {
  legend {
    color: @special-dark-gray;
    font-size: 12px;
    line-height: 12px;
  }
}

.example__description {
  dl {
    font-family: @font-first;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.example__changes {
  button {
    font-family: @font-first;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    background-color: @background-live;
  }
}  

