.live__text {
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-gray;
  margin-top: 0;
  margin-bottom: 25px;

  br {
    display: none;
  }
}

.live__price {
  font-family: @font-first;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 42px;
}

.live {
  background-color: @background-live;
  padding-top: 27px;
  padding-bottom: 36px;
}

.live__title {
  margin: 0;
  margin-bottom: 33px;
  line-height: 40px;
}

.live__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.live__list {
  .clear-list();
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.live__list-item {
  width: 122px;
  padding-top: 14px;
  padding-bottom: 16px;
  border: 1px solid @special-gray;
  border-radius: 3px;
  font-family: @font-first;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  position: relative;
}

.live__indicator {
  text-transform: uppercase;
}

.live__border-text {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-gray;
  display: block;
  width: 57px;
  border-left: 15px solid @background-live;
  border-right: 15px solid @background-live;
  background-color: @background-live;
  font-family: @font-second;
  position: absolute;
  left: 18px;
  top: 47px;
}

.live__img {
  margin-bottom: 27px;
  position: relative;
  left: -19px;
}

.live__was,
.live__become {
  border: none;
  background-color: transparent;
  font-family: @font-first;
  font-size: 16px;
  line-height: 20px;
  color: @basic-black;
  text-transform: uppercase;
  padding: 0;
  cursor: pointer;
}

.live__slider {
  width: 198px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 43px;
}

.live__range-controls {
  width: 72px;
  background-color: @basic-white;
  border-radius: 6px;
  border: 1px solid @special-gray;
  padding: 3px 5px;
}

.live__bar {
  width: 40%;
  height: 6px;
  background-color: @basic-green;
  border-radius: 6px;
}

.live__cat {
  position: relative;
  width: 311px;
  height: 232px;
  margin-bottom: 32px;
}

.live__cat-fat {
  position: absolute;
  left: -20px;
  top: -7px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.live__cat-skinny {
  position: absolute;
  right: 0;
  top: 0;
  width: 251px;
  height: 100%;
  overflow: hidden;
  display: none;
}

.live__cat-fat img {
  position: absolute;
  width: 311px;
  height: 232px;
  top: 0;
  left: 0;
}

.cat__skinny img {
  position: absolute;
  width: 251px;
  height: 240px;
  top: 0;
  right: 54px;
}

@media (min-width: @tablet-width) {
  .live__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .live__container {
    width: 100%;
    padding: 0;
  }

  .live {
    background-color: @basic-white;
    padding-top: 0;
    padding-bottom: 0;
  }

  .live__wrap {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 221px;
  }

  .live__grad {
    background-color: @background-live;
    height: 462px;
  }

  .live__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;

    br {
      display: block;
    }
  }

  .live__title {
    margin-bottom: 74px;
  }

  .live__list {
    width: 366px;
  }

  .live__list-item {
    width: 160px;
    padding-top: 14px;
    padding-bottom: 19px;
    font-size: 30px;
    line-height: 37px;
  }

  .live__border-text {
    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
    border: none;
    top: 63px;
  }

  .live__border-text-weight {
    width: 121px;
  }

  .live__border-text-time {
    width: 142px;
    left: 9px;
  }

  .live__list-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .live__price {
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  .live__price-wrapper {
    width: 174px;
    position: relative;
    top: 3px;
  }

  .live__img {
    transform: scale(2.3);
    position: relative;
    top: -50px;
    left: 226px;
  }

  .live__slider {
    position: relative;
    top: -253px;
    left: 70px;
    z-index: 3;
    width: 570px;
  }

  .live__range-controls {
    position: relative;
    width: 428px;
    height: 6px;
    padding: 0;
    border: none;
    background-color: @border-dashed;
  }

  .live__bar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 48%;
    top: -13px;
    box-shadow: inset 0 0 0 12px @basic-white, inset 0 0 0 16px @basic-green, 0 3px 8px -3px @basic-black;
    cursor: pointer;
    border: 1px solid @border-dashed;

    &:active {
      border-color: @basic-green;
    }
  }

  .live__was,
  .live__become {
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid @special-gray;
    border-bottom-style: dashed;

    &:hover,
    &:focus {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom: none;
    }
  }

  .live__cat {
    width: 708px;
    height: 620px;
    margin-bottom: 0;
    top: -183px;
  }

  .live__cat-fat {
    left: 0;
    top: -8px;
    width: 354px;
    height: 100%;
  }

  .live__cat-skinny {
    right: 0;
    top: 0;
    width: 354px;
    height: 100%;
    display: block;
  }

  .live__cat-fat img {
    width: 354px;
    height: 620px;
    top: 0;
    left: 0;
  }

  .live__cat-skinny img {
    width: 354px;
    height: 607px;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .live {
    padding-top: 0;
    padding-bottom: 0;
  }

  .live__wrapper {
    width: 1220px;
    padding: 0 40px;
  }

  .live__title {
    margin-bottom: 86px;
  }

  .live__container {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: linear-gradient(to right, @basic-gray 71.8%, @background-live 28.2%);
      top: 0;
      right: 0;
      height: 100%;
      width: 1150px;
    }
  }

  .live__wrap {
    padding: 0;
    margin: 0;
    width: 436px;

    &--right {
      padding-top: 362px;
      height: 30px;
    }
  }

  .live__grad {
    background: none;
    position: relative;
    height: 392px;
  }

  .live__color {
    background-image: linear-gradient(to right, @basic-gray 71.8%, @background-live 28.2%);
    padding-top: 70px;
  }

  .live__img {
    position: absolute;
    top: -110px;
    left: -30px;
    transform: scale(2.18);
    margin-bottom: 0;
  }

  .live__slider {
    position: relative;
    z-index: 2;
    top: -600px;
    left: -135px;
    width: 572px;
  }

  .live__range-controls {
    top: -3px;
  }

  .live__bar {
    left: 47%;
  }

  .live__text {
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
    position: relative;
    z-index: 2;

    br {
      display: none;
    }
  }

  .live__list-wrapper {
    flex-wrap: wrap;
  }

  .live__price {
    width: 327px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }

  .live__border-text {
    background-color: @footer-color;
  }

  .live__list {
    margin-bottom: 53px;
  }

  .live__cat {
    width: 690px;
    height: 535px;
    margin-bottom: 0;
    top: -625px;
    right: 213px;
  }

  .live__cat-fat {
    left: 0;
    top: -2px;
    width: 365px;
    height: 100%;
  }

  .live__cat-skinny {
    right: 0;
    top: 0;
    width: 325px;
    height: 100%;
  }

  .live__cat-fat img {
    width: 405px;
    height: 536px;
    top: 0;
    left: 0;
  }

  .live__cat-skinny img {
    width: 325px;
    height: 654px;
    top: 0;
    right: 54px;
  }
}
