.offer {
  background: url("../img/cat-mobile.jpg") no-repeat 50% 50%;
  background-color: @cat-offer-bg;
  text-align: center;
  min-height: 302px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cat-mobile@2x.jpg");
    background-size: 320px 302px;
  }
}

.offer__wrapper {
  padding-top: 27px;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile.png");
    background-repeat: no-repeat;
    left: 0;
    top: 167px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 280px 270px;
    }
  }
}

.offer__call {
  color: @basic-white;
  line-height: 14px;
  font-family: @font-first;
  text-transform: uppercase;
  margin-top: 0;
}

.offer__title {
  color: @basic-white;
  line-height: 36px;
  margin-bottom: 25px;
  margin-top: 0;
}

.offer__button {
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .offer {
    background: none;
    text-align: left;
    width: 414px;
    min-height: 181px;
  }

  .offer__wrapper {
    width: 534px;

    &::before {
      content: "";
      position: absolute;
      width: 709px;
      height: 609px;
      background-image: url("../img/index-can-tablet.png");
      background-repeat: no-repeat;
      z-index: 2;
      left: -90px;
      top: 202px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can-tablet@2x.png");
        background-size: 709px 609px;
      }
    }

    &--color {
      background-color: @basic-white;
      padding-top: 0;
    }
  }

  .offer__call {
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
    margin-bottom: 49px;
  }

  .offer__button {
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .offer {
    width: 414px;
  }

  .offer__wrapper {
    &::before {
      content: "";
      position: absolute;
      width: 552px;
      height: 500px;
      background-image: url("../img/index-can.png");
      background-repeat: no-repeat;
      z-index: 2;
      left: 369px;
      top: -83px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/index-can@2x.png");
        background-size: 552px 500px;
      }
    }
  }
}
