.page-footer {
  background-color: @footer-color;
  padding: 19px 39px 20px 22px;

  &__academy {
    text-decoration: none;
    color: @special-dark-gray;
    font-size: 16px;
    line-height: 18px;
    font-family: "Arial";
  }
}
