.steps {
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 20px;
}

.steps__list {
  .clear-list();
}

.steps__title {
  margin: 0;
  margin-bottom: 40px;
  line-height: 40px;
}

.steps__item {
  color: @special-dark-gray;
  line-height: 18px;
}

